
    
    <button id="create-issue-button">Create Issue</button>

    <ul class="issue-list">
        <%foundIssue.forEach(function(issue){%>
            <li class="issue-item">
                <h2><%= issue.title %></h2>
                <p><%= issue.description %></p>
                <p><%= issue.label %></p>
                <p><%= issue.Author %></p>
            </li>
        <%})%>
    </ul>
