
    <main id="issue-form">
        <small id="close-form" >X</small>
        <form id="create-issue-form" class="issue-form">
            <label for="issue-title">Issue Title:</label>
            <input type="text" id="issue-title" required>

            <label for="issue-description">Issue Description:</label>
            <textarea id="issue-description" rows="4" required></textarea>

            <label for="issue-labels">Labels:</label>
            <input type="text" id="issue-labels">

            <label for="issue-author">Author:</label>
            <input type="text" id="issue-author" required>

            <button type="submit" class="submit-button">Submit Issue</button>
        </form>
    </main>
    <button id="create-issue-button">Create Issue</button>
