
    <h1>
        Name:<%= user.name.toUpperCase() %>,<%=  title %> 
    </h1>

    <h1>
        Email:<%= user.email %>
    </h1>
    <hr>
    <h1>Total Projects <%= user.projects.length %></h1>
    <% %>