
        <form action="/users/create" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="password">
            <button id="submitbtn">Submit</button>
        </form>
