/* Basic styling, you can expand upon this */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.issue-form {
    width: 70%;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.issue-form label,
.issue-form input,
.issue-form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.submit-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #555;
}

#issue-form{
    width: 30%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(247, 244, 244);
    display: none;
}

#create-issue-form>input{
    padding: 5px;
    height: 25px;
    border-radius: 10px;
    border: none;
}

#close-form{
    position: absolute;
    top: 100%;
    left: 100%;
    cursor: pointer;
}

#create-issue-button{
    position: absolute;
    top: 90%;
    right: 5%;
    cursor: pointer;    
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}