
/* Basic styling, you can expand upon this */
html,body {
    height: 100%;
    width: 100%;
    /* overflow-y: hidden; */
    font-family: Arial, sans-serif;
}

header {
    color: white;
    padding: 10px 0;
    text-align: center;
    background-color: #333;
}

.not-loggedin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.create-project-icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 50% 20% / 10% 40%;
    position: fixed;
    top: 80%;
    right: 7%;
    background-color: #333;
}

.create-project-icon:hover{
    cursor: pointer;
    background-color: #393939;
}

.create-project-icon>i{
    transition: all cubic-bezier(0.19, 1, 0.22, 1)  ;
    color: #fff;
    font-size: 25px;
}





/* .create-button {
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: #dadada;
    color: #000;
    font-size: 15px;
    cursor: pointer;
} */

.project-list {
    list-style: none;
    padding: 0;
}

.project-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}

.issue-list {
    list-style: none;
    padding: 0;
}

.issue-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}

.filter-section {
    margin: 10px 0;
}

.issue-list {
    list-style: none;
    padding: 0;
}

.issue-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}

#ref-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
/* 
#form-container {
    position: absolute;
    padding: 20px;
    top: 65%;
    left: 50%;
    height: 50%;
    transform: translate(-50%,-60%);
    width: 30%;
    background-color: #dadada;
}

#form-container form>input{
    padding: 8px 15px;
    width: 90%;
    border-radius: 5px;
    border: none;
}


#create-project-form{
    text-align: center;
}


#project-name{
    margin-bottom: 15px;
}

#project-name{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
}


#project-description{
    margin-left: 10px;
    margin-bottom: 15px;
    resize: none;
    padding: 8px 15px;
    width: 90%;
    border-radius: 5px;
    border: none;
}

#project-author{
    margin-left: 10px;
    margin-bottom: 15px;
}


.submit-button{
    margin-top: 20px;
    padding: 10px 15px;
} */

/* index page css  */

#signin-signout{
    margin-left: 50%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


li {
    list-style: none; 
}

#headerlink{
        text-decoration: none;
        color: #dadada;
        font-size: 17px;
    }
    
    a{
        text-decoration: none;
    }

#ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#create-project{
    padding: 8px 15px;
}